h1 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bolder;
  text-align: left;
  color: rgb(78, 78, 78);
}
p {
  color: gray;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
h2 {
  color: gray;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}
span {
  color: gray;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
}

#feels-like {
  font-size: 25px;
  color: rgb(78, 78, 78);
}

#description {
  text-transform: capitalize;
}
#temperature {
  font-size: 100px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.units {
  font-size: 16px;
}

.card-body {
  padding-top: 15px;
  padding-bottom: 15px;
}
#weather-icon {
  width: 75px;
}

#search {
  max-width: 485px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.weather-app {
  max-width: 500px;
  border: 1px solid;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 30px;
}

.coded-by {
  padding-top: 15px;
  text-align: center;
}
